<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container,
	see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html#d4e194 -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
    <display-name>OTT Platform Manager</display-name>
   <!-- <servlet>
        <servlet-name>HelloWorldServlet</servlet-name>
        <servlet-class>com.project.opm.Main</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloWorldServlet</servlet-name>
        <url-pattern>/opm/hello</url-pattern>
    </servlet-mapping>-->
    <!--<listener>
          <listener-class>
              com.project.opm.OPMServletContextListener
          </listener-class>
    </listener>	-->
</web-app>